body {
	padding-top: 60px;
	padding-bottom: 40px;
}
.sidebar-nav {
  	padding: 9px 0;
}
label {
	display: inline;
}

.formError {
  color: #b94a48;
}
.alert-warning {
  padding-top: 14px;
  padding-bottom: 14px;
}
.form-horizontal .control-label-width {
  float: left;
  width: 100px;
  padding-top: 5px;
  text-align: right;
}
.form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 120px;
  *margin-left: 0;
}

.form-horizontal .controls:first-child {
  *padding-left: 180px;
}

